@page
@model WebApplication1.Pages.Account.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Accounts List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountModel[0].AccType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountModel[0].AccountBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountModel[0].BalCrDr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountModel[0].AccountHolder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountModel[0].NewestTransaction)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AccountModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BalCrDr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountHolder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewestTransaction)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
